<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Exercise 2: Create markdown cell with title of the notebook.
Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

Write an introductory sentence about the notebook such as the follows: In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 10 - Insert a markdown cell to list Objectives

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

**Objectives:**
- List popular languages for Data Science
- List open source development environment tools in Data Science
- Create a table of Data Science tools
- List data science libraries
- Evaluate arithmetic expressions

Exercise 4 - Create a markdown cell to list data science languages

Start the cell with an overview line such as:

Some of the popular languages that Data Scientists use are:
Then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.
Take a screenshot of the markdown cell and name it as 4-dslanguages.png (Images can be saved with either the .jpg or .png extension.)

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Exercise 5 - Create a markdown cell to list data science libraries

Add an overview line to the cell like:

Some of the commonly used libraries used by Data Scientists include:
Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

Exercise 6 - Create a markdown cell with a table of Data Science tools

Create a single column table in this cell with the first row containing the header Data Science Tools. The subsequent three rows in the table should indicate three development environment open source tools used in data science.

|Data Science Tools|
|------------------|
|Anaconda|
|RStudio|
|Jupyter Notebook|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

Add a line in this cell with H3 style heading with text like:

Below are a few examples of evaluating arithmetic expressions in Python.

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In this code cell evaluate the expression (3*4)+5.
Insert a comment line before the expression to explain the operation e.g. This a simple arithmetic expression to mutiply then add integers.
Then execute the cell to ensure the expression returns the expected output of 17.

In [14]:
#The following is a simple arithmetic expression to multiply then add integers:
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In this code cell write an expression that converts 200 minutes into hours.
Insert a comment line before the expression to explain the operation e.g. This will convert 200 minutes to hours by diving by 60.
Run the cell to evaluate the expression.

In [15]:
#The following operation will convert 200 minutes to hours, by dividing by 60:
200/60 #the unit is hours

3.3333333333333335

Please go to the top of the notebook to find Ex 10.

Exercise 11 - Create a markdown cell to indicate the Author's name

In this markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author.

## Author:
Alessa Wiggins